/*Metricas da emrpesa*/
.metricas-containers{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    column-gap: 0.3rem;
    padding: 0 8rem ;
    font-family: var(--main-font);
}

.metricas-containers-itens{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.metricas-containers span{
    color: var(--main-color);
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
}

.metricas-containers h1{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

.metricas-containers p{ 
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-right: 12rem;
}